<!--




===========================================================
AQUI SE DEBEN MOSTRAR LAS GRAFICAS DE TODOS LOS SENSORES
===========================================================



-->

<html lang="en">
    <%- include ../partials/header %>
    <link rel="stylesheet" href="/css/chartist.min.css"/>

    <body>

        <div class="wrapper">
            <%- include('../partials/sidemenu', {activo: 'graficos'}) %>
            <div class="main-panel">
                <%- include ../partials/nav %>
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Datos de los sensores</h4>
                                        <p class="category">Datos de los sensores actualizados</p>
                                    </div>
                                    <div class="content table-responsive table-full-width">
                                        <div id="chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include ../partials/footer %>
            </div>
        </div>
    </body>
    <%- include ../partials/scripts %>
    <script src="/js/socket/socket_datos.js"></script>
</html>
