<!--
{
  "idSensor":1,
  "NombreSensor":"Sensor de nivel",
  "Referencia":"DDFC",
  "Descripcion":"Sensor de nivel por luz",
  "insertDate":"2016-04-07T22:39:31.000Z",
  "updateDate":"2016-04-07T22:39:31.000Z",
  "fk_idTipoSensor":1,
  "Maximo":300,
  "Minimo":-20,
  "Altura":200,
  "idTipoSensor":1,
  "NombreTipoSensor":"Nivel"
}
-->

<html lang="en">
    <%- include ../partials/header %>
    <body ng-app="App">
        <div class="wrapper">
            <%- include('../partials/sidemenu', {activo: 'sensores'}) %>

            <div class="main-panel">

                <%- include ../partials/nav %>

                <div class="content" ng-controller="FormSensorController">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">Nuevo sensor</h4>
                                    </div>
                                    <div class="content">
                                        <form method="{{method}}" action="/sensor/register">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <label>Nombre del Sensor</label>
                                                        <input name="NombreSensor" type="text" class="form-control" placeholder="Nombre del sensor" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Referencia</label>
                                                        <input name="Referencia" type="text" class="form-control" placeholder="Referencia" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Tipo de sensor</label>
                                                        <select class="form-control" name="fk_idTipoSensor">
                                                            <% for (var i = 0; i < tipos_sensores.length; i++) { %>
                                                                <option value="<%= tipos_sensores[i].idTipoSensor %>">
                                                                    <%= tipos_sensores[i].NombreTipoSensor %>
                                                                </option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Altura</label>
                                                        <input name="Altura" type="number" class="form-control" placeholder="Altura">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nivel maximo</label>
                                                        <input name="Maximo" type="number" class="form-control" placeholder="Nivel Maximo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Nivel minimo</label>
                                                        <input name="Minimo" type="number" class="form-control" placeholder="Nivel Minimo">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Descripcion</label>
                                                        <textarea name="Descripcion" rows="5" class="form-control" placeholder="Here can be your description" value="Mike"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon" ng-init="estado = false">
                                                    <input type="checkbox" aria-label="" ng-model="estado" ng-checked="change_modo()">
                                                </span>
                                                <input type="text" class="form-control" aria-label="" value="{{modo}}">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-info btn-fill pull-right">Registrar</button>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include ../partials/footer %>

            </div>
        </div>

    </body>

    <%- include ../partials/scripts %>

    <script>
        angular.module('App', []).controller('FormSensorController', [
            '$scope',
            function($scope) {
                $scope.master = {};

                $scope.update = function(user) {
                    $scope.master = angular.copy(user);
                };

                $scope.change_modo = function() {
                    if(!$scope.estado) {
                      $scope.modo = 'Modo edición desactivado';
                      $scope.method = 'POST';
                    } else {
                      $scope.modo = 'Modo edición activado';
                      $scope.method = 'PUT';
                    }
                };

                $scope.change_modo();
            }
        ]);
    </script>
</html>
