<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--
      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag
    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                GIECOM UDLA
            </a>
        </div>
        <ul class="nav">
            <li class="<%= (activo == 'dashboard')? 'active': '' %>">
                <a href="/">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="<%= (activo == 'list')? 'active': '' %>">
                <a href="/list">
                    <i class="pe-7s-keypad"></i>
                    <p>List</p>
                </a>
            </li>
            <li class="<%= (activo == 'user')? 'active': '' %>">
                <a href="/user">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="<%= (activo == 'table')? 'active': '' %>">
                <a href="/table">
                    <i class="pe-7s-note2"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="<%= (activo == 'typography')? 'active': '' %>">
                <a href="/typography">
                    <i class="pe-7s-news-paper"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li class="<%= (activo == 'icons')? 'active': '' %>">
                <a href="/icons">
                    <i class="pe-7s-science"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="<%= (activo == 'maps')? 'active': '' %>">
                <a href="/maps">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li class="<%= (activo == 'notifications')? 'active': '' %>">
                <a href="/notifications">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="upgrade">
                    <i class="pe-7s-rocket"></i>
                    <!-- usersConnected Muestra los usuarios online -->
                    <p id="usersConnected">Online </p>
                </a>
            </li>
        </ul>
    </div>
</div>
